{% extends 'base.html' %}
{% block content %}

<br/>
{% if results %}
<section class="padding-y-lg">
    <div class="container-sm px-4-3 px-lg-5 mt-5">
        <div class="row">
            {% for product in results %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card-product-grid">
                    <div class="border p-1" style="height: 400px;">
                        <a href="{% url 'product' product.id %}" class="d-flex justify-content-center">
                            <img height="250" class="mix-blend-multiply" src="{{ product.image.url }}">
                        </a>
                        <figcaption class="p-3 border-top">
                            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-shopping-cart"></i> </a>
                            <h8 class="title mb-1">{{ product.name }}</h8>
                            <div class="price text-lg mb-2 fw-bold">€{{ product.price }}</div>
                            <span class="text-muted">{{ product.category.name }}</span>
                        </figcaption>
                    </div>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
    <p>No products found.</p>
{% endif %}

{% endblock %}
